* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .box-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
  }

  /* #parallelPlots {


  } */

  /* .middle-column {

    display: flex;
    flex-direction: column;
  }

  .middle-column div {

    margin: 0 8px;
    border: solid 1px red;
  }

  .middle-column div + div {
    margin-top: 8px;
  }

  #box5 {

    border: solid 1px yellow;
    background-color: yellow;
  } */

  /* #box6 {
    padding: 10px;
    /* background-color: green; */
  /* } */ 