* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/backg.jpeg");
  /* display: flex;
  height: 100%;
  width: 100%; */
  background-size: 100% 100%;
  background-position: flex;
  background-repeat: repeat;
  margin: 0px;
  overflow-x: hidden;
  font-family: montserrat;
}
.box-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}

.support-viz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#periodicTable {
  padding: 10% 0;
}
/* ----kushal periodic table---- */

.state circle {
  /*
  fill: #18BC9C;
  fill:#2098d1;
*/
  stroke: #2098d1;
  stroke-width: 5px;
  fill: blue;
  opacity: 0.3;
}

.state text {
  font: 15px sans-serif;
  text-anchor: middle;
}

.state circle:hover {
  fill: white;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  opacity: 0.5;
  stroke-width: 0.5px;
}

.foreground path {
  fill: none;
  opacity: 0.5;
  stroke-width: 0.5px;
}

.brush .selection {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.background {
  fill:none;
}

.selected .background {
  fill: grey;
}

nav {
  background: #edebeb78;
  height: 80px;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-between;
}

label.logo {
  color: #010101d8;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.plots {
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: black; */
}
